.menuActivateButton {
  background: #000000;
  border: none;
  min-height: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
  padding: 0.5rem 1rem;
}

.menuActivateButton:hover {
  background: #1D232D;
  cursor: pointer;
}

/* Phones */
@media (max-width: 480px) {
  .menuActivateButton {
    padding: 1.5rem 3rem;
  }
}


